[Global]
# (Optional) Path to the 'gpg' executable
#
# Default:
# gpg_path = "/usr/bin/gpg"
#
# gpg_path = ""

# (Optional) Path to the 'at' executable
#
# Default:
# at_path = "/usr/bin/at"
#
# at_path = ""

# (Optional) Path to the 'mount' executable
#
# Default:
# mount_path = "/bin/mount"
#
# mount_path = ""

# (Optional) After how many minutes should we unmount the decrypted partitions
# and close them?
#
# Default:
# unmount_time = "15"
#
# unmount_time = ""

[Default]
# (Required) Path the encrypted LUKS device.
#
# Ex:
# encrypted_device = "/dev/mapper/lambda-gpg" 
# or
# encrypted_device = "/dev/sdg"
#
encrypted_device = ""

# (Optional) Name for the decrypted LUKS device. When we decrypt the encrypted
# LUKS device, we'll get /dev/mapper/decrypted_device
#
# Default:
# decrypted_device = "gpg-decrypted"
#
# decrypted_device = ""

# (Optional) Where should we mount the decrypted partition
#
# Default:
# mount_point = "/media/gppg"
#
# mount_point = ""

# (Optional) After how many minutes should we unmount the decrypted partition
# and close it?
#
# Default:
# unmount_time = <Whatever was set in the Global section>
#
# unmount_time = ""
